<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="/img/Nueva-Imagen-Podcast.jpg"/>
    <link rel="stylesheet" href="/css/styles-404.css">
    <title>Studio 93</title>
</head>
<body>
<h1 class="titulo-404">No pudimos encontrar lo que estabas buscando</h1>
<p class="tipo-de-error">ERROR 404</p>
<p class="descripcion-error">PAGINA NO ENCONTRADA - NOT FOUND -</p>
<a href="/" class="volver-inicio">Volver a la pagina de inicio</a>
<%- include("template/footer") %> 