<%- include("template/cabecera") %> 
    <h2 class="titulo-principal">Bienvenido a Studio 93 Marketing</h2>
    <div class="logo">
        <img src="/img/Nueva-Imagen-Podcast.jpg" height="500px" alt="">
    </div>
<%- include("template/footer") %> 